<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/Images/dota_heroes.png">
</div>
<h2>Here are the Heros to help you start: </h2>

<!-- <div *ngFor="let article of articles" class="big-box">
  <div *ngFor="let childarticle of article | keyvalue" class="small-box">
      <p>The {{childarticle.key}} is {{childarticle.value}}</p>
  </div>
</div> -->


<form [formGroup]="DotaForm" (ngSubmit)="onFormSubmit(DotaForm.value)">

        <mat-form-field appearance="outline">
          <input type="number" formControlName="id" matTooltip="Enter Id" matInput placeholder="Dota Character Id">
        </mat-form-field>

    
        <mat-form-field appearance="outline">  
          <input type="text" formControlName="character" matTooltip="Enter Character name" matInput placeholder="Character">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <input type="number" matTooltip="Enter Power" formControlName="power" matInput placeholder="Power">
        </mat-form-field>
   
        <mat-form-field appearance="outline">
          <input type="text" formControlName="type" matTooltip="Enter Type" matInput placeholder="Type">
        </mat-form-field>
 
        <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button"
          [disabled]="!DotaForm.valid">Submit</button>
        <button type="reset" mat-raised-button color="accent" matTooltip="Click Reset Button"
          (click)="resetForm()">Reset</button>
 
  <br><br>
  <table class="table">
    <tr>
      <th >Character Id</th>
      <th >Character Name</th>
      <th >Power</th>
      <th >Type</th>
      <th >Edit</th>
      <th >Delete</th>
    </tr>
    <tr *ngFor="let dota of allCharacters | async">
      <td >{{dota.id}}</td>
      <td >{{dota.character}}</td>
      <td >{{dota.power}}</td>
      <td >{{dota.type}}</td>
      <td >
        <button type="button" matTooltip="Click Edit Button"
          (click)="loadCharacterToEdit(dota.id)">Edit</button>
      </td>
      <td>
        <button type="button"  matTooltip="Click Delete Button"
          (click)="deleteCharacter(dota.id)">Delete</button>
      </td>
    </tr>

  </table>
</form>



<router-outlet></router-outlet>
